*{margin: 0;padding: 0;

}
.calculator{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}